.jd__headers {
  height: 80px;
  width: 100%;
  padding: 0 40px;
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 1000;
}

.header__title {
  margin: 0;
  text-align: left;
}

.header__icon {
  cursor: pointer;
}
