.search {
  position: relative;
}

.search__input {
  background: #fff;
}

.search__input input {
  width: calc(100% - 20% - 35px);
}

.search__icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: var(--color-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__icon img {
  height: 12px;
  width: 12px;
}
